html
	head
		style
			include ../css/style.css
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet")
		title="Add a message"
	body
		nav
			a(href="/all_messages") All messages
			a(class="active" href="/") Create a message
		br
		h3 Please leave your message
		br
		form(action='/' method='post' autocomplete='off')
			label(for="title") Title:
			br
			input(type="text" name="title" id="title" placeholder="Your title...")
			br
			br
			label(for="message") Message:
			br
			textarea(type='textarea' name='message' id="message" placeholder='Your message...')
			br
			button(type='submit') Add your message


