body {
	background-color:black;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px
	color: #faebd7;
	font-family: 'Open Sans', Helvetica, sans-serif; 
	letter-spacing: 2px;
}

nav a {
 	text-decoration: none;
 	color: #faebd7;
 	font-size: 15px;
 	display: inline-block;
 	margin-left: 30px;
 	margin-top: 40px;
 	border: 1px solid #faebd7;
 	border-radius: 4px;
 	padding: 7px;
}

nav a:hover {
	color: #694cbf;
}

.active {
	color: #694cbf;
}

form, h3 {
	text-align: center;
}

h3, label, p {
	color: #faebd7;
}

h3 {
	font-size: 20px;
	font-weight: bold
}

label {
	font-size: 17px;
	float: left;
	width: 45em;
	text-align: left;
	margin-left: 380px;
}

input, textarea {
	width: 50%;
	padding: 12px 20px;
	box-sizing: border-box;
	font-family: 'Open Sans', Helvetica, sans-serif; 
	font-size: 16px;
	border: 1px solid #faebd7;;
	display: inline-block;
	margin: 8px 0;
	border-radius: 4px;
}

textarea {
	height: 150px;   
	resize: none;    
}

button {
	width: 30%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid;
	background-color: #694cbf;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

button:hover {
	cursor: pointer;
}

section {
	margin: 0px 200px 0px 200px;
	padding: 10px 50px 10px 50px;
	border: 1px solid #faebd7;
}
