include nav
html
	head
		title="Add a message!"
	body
		form(action='/' method='post' autocomplete='off')
			div
				label(for="name") Title:
				input(type='text' name='title')
			br
			div
				label(for="name") Message:
				textarea(type='textarea' name='body')
			br
			button(type='submit') Add your message!


